@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>First Name: <strong data-bind="text: firstName"></strong></p>
        <p>Last Name: <strong data-bind="text: lastName"></strong></p>
        <p>First name: <input data-bind="value: firstName" /></p>
        <p>Last name: <input data-bind="value: lastName" /></p>
    </div>


<script>


    function AppViewModel() {
        this.firstName = ko.observable("Suresh");
        this.lastName = ko.observable("S");
    }

    ko.applyBindings(new AppViewModel());
</script>