@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div id="plane-list">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-primary float-start" data-bind="click: showCreateClicked">Add New</button>
            </div>
            <div class="d-flex input-group mb-3 col">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" data-bind="value: searchText">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-bind="click: searchClicked">Search</button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Registration</th>
                    <th scope="col">Location</th>
                    <th scope="col">Seen At</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: planeList">
                <tr data-bind="click: $parent.detailClicked">
                    <td class="click-able">
                        @*src="../../content/images/plane-icon.png"*@
                        <img data-bind="attr: {src: photoSrc}" class="img-thumbnail" alt="flight image">
                    </td>
                    <td class="click-able" data-bind="text: make"></td>
                    <td class="click-able" data-bind="text: model"></td>
                    <td class="click-able" data-bind="text: registration"></td>
                    <td class="click-able" data-bind="text: location"></td>
                    <td class="click-able" data-bind="text: seenDateTime"></td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" data-bs-target="#updateModal">Update</button>
                        <button type="button" class="btn btn-outline-danger" data-bind="click: $parent.deleteClicked">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>

        <!-- Delete confirm model -->
        <div id="deleteConfirmModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure?</h5>
                        <button type="button" class="btn-close" aria-label="Close" data-bind="click: deleteCancelClicked"></button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete these record? This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bind="click: deleteCancelClicked">Cancel</button>
                        <button type="button" class="btn btn-danger" data-bind="click: deleteDeleteClicked">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Delete confirm model -->
        <!-- Details model view -->
        <div>
            <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="text-center">
                            <img data-bind="attr: {src: detailModel.photoSrc}" class="img-medium" alt="flight image">
                        </div>
                        <div class="modal-body">

                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Make:</td>
                                        <td data-bind="text: detailModel.make"></td>
                                    </tr>
                                    <tr>
                                        <td>Model:</td>
                                        <td data-bind="text: detailModel.model"></td>
                                    </tr>
                                    <tr>
                                        <td>Registration:</td>
                                        <td data-bind="text: detailModel.registration"></td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td data-bind="text: detailModel.location"></td>
                                    </tr>
                                    <tr>
                                        <td>Seen At:</td>
                                        <td data-bind="text: detailModel.seenDateTime"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Details model view -->

    </div>

</div>

<partial name="CreateSighting.cshtml" />
<partial name="EditSighting.cshtml" />


<script>

    function PlaneListModel() {
        var self = this;
        self.planeList = ko.observableArray([]);

        self.sendListRequest = function (searchText) {
            let url = "/api/planesightings";
            if (searchText != null && searchText.trim().length > 0) {
                url = url + "?searchText=" + searchText;
            }
            let jqxhr = $.getJSON(url, function () {
                console.log("success");
            })
                .done(function (response) {
                    getListRequestSuccess(response);
                })
                .fail(function (error) {
                    console.log("error");
                    console.log(error);
                });
        }

        function getListRequestSuccess(response) {
            const list = response.data;
            self.planeList.removeAll();
            list.forEach(function (item, index) {
                const formatted = formatForView(item);
                self.planeList.push(formatted);
            });
        }

        function formatForView(planeShighting) {
            //TODO format date correctly
            const seenTime = planeShighting.seenDateTime + ".000Z";
            const date = new Date(seenTime);
            const formattedSeenDate = date.toLocaleString();
            planeShighting.seenDateTime = formattedSeenDate;

            // picture path format
            let path = "../../content/images/plane-icon.png";
            if (planeShighting.picture != null
                && planeShighting.picture.fileName != null
                && planeShighting.picture.fileName.length > 0) {
                path = "../../images/plane-pictures/" + planeShighting.picture.fileName;
            }
            planeShighting["photoSrc"] = path;
            return planeShighting;
        }

        self.sendDeleteItemRequest = function (itemId) {
            const url = "/api/planesightings/" + itemId;
            var request = $.ajax({
                url: url,
                method: "DELETE"
            });
            request.done(function (msg) {
                console.log("delete item success");
                itemDeleteSuccess();
            });
            request.fail(function (jqXHR, textStatus) {
                console.log("delete item fail called");
            });
        }

        function itemDeleteSuccess() {
            self.sendListRequest();
        }
    }

    function PlaneListViewModel(planeListModel) {
        var self = this;
        self.planeList = planeListModel.planeList;
        self.currentModelView = null;
        self.searchText = ko.observableArray("");
        self.itemToBeDeletedId = 0;
        self.detailModel = {
            make: ko.observable(""),
            model: ko.observable(""),
            registration: ko.observable(""),
            location: ko.observable(""),
            seenDateTime: ko.observable(""),
            photoSrc: ko.observable(""),
        };
        

        ko.postbox.subscribe("newSightingAddedTopic", function (newValue) {
            planeListModel.sendListRequest();
            self.currentModelView.hide();
        });

        self.showCreateClicked = function () {
            self.currentModelView = new bootstrap.Modal(document.getElementById('createModal'), {});
            self.currentModelView.show();
        }

        self.deleteClicked = function (planeSighting, event) {
            console.log(event);
            
            if (event.stopPropagation) {
                event.stopPropagation();
            }
            self.itemToBeDeletedId = planeSighting.id;
            self.currentModelView = new bootstrap.Modal(document.getElementById('deleteConfirmModal'), {});
            self.currentModelView.show();
        }

        self.deleteDeleteClicked = function (planeSighting) {
            self.currentModelView.hide();
            planeListModel.sendDeleteItemRequest(self.itemToBeDeletedId);
        }

        self.deleteCancelClicked = function (planeSighting) {
            self.itemToBeDeletedId = 0;
            self.currentModelView.hide();
        }

        self.detailClicked = function (planeSighting, event) {
            if (event.stopPropagation) {
                event.stopPropagation();
            }

            self.detailModel.make(planeSighting.make);
            self.detailModel.model(planeSighting.model);
            self.detailModel.registration(planeSighting.registration);
            self.detailModel.location(planeSighting.location);
            self.detailModel.seenDateTime(planeSighting.seenDateTime);
            self.detailModel.photoSrc(planeSighting.photoSrc);

            self.currentModelView = new bootstrap.Modal(document.getElementById('detailModal'), {});
            self.currentModelView.show();
        }

        self.searchClicked = function () {
            //TODO sinitize the search text
            //TODO back to all results
            planeListModel.sendListRequest(self.searchText());
        }

        planeListModel.sendListRequest();
    }

    ko.applyBindings(
        new PlaneListViewModel(new PlaneListModel()),
        document.getElementById("plane-list"));


    //Create a Sighting
    function SightingCreateModel() {
        var self = this;

        self.sendCreateSighting = function (planeSighting) {
            console.log("create called");
            console.log(planeSighting);
            const jsonData = JSON.stringify(planeSighting);

            var request = $.ajax({
                url: "/api/planesightings",
                method: "POST",
                data: jsonData,
                contentType: "application/json"
            });
            request.done(function (msg) {
                console.log("done called");
                onNewRecordAdded();
            });
            request.fail(function (jqXHR, textStatus) {

                console.log("fail called");
                console.log(textStatus);
                console.log(jqXHR);
            });
        }

        function onNewRecordAdded() {
            ko.postbox.publish("newSightingAddedTopic", true);
        }
    }

    function SightingCreateViewModel(sightingCreateModel) {
        var self = this;

        self.model = sightingCreateModel;

        self.make = ko.observable("");
        self.model = ko.observable("");
        self.registration = ko.observable("");
        self.location = ko.observable("");
        self.seenDateTime = ko.observable("");
        self.photoUrl = ko.observable();
        self.photoContent = "";

        ko.postbox.subscribe("newSightingAddedTopic", function (newValue) {
            self.make("");
            self.model("");
            self.registration("");
            self.location("");
            self.seenDateTime("");
            self.photoUrl(null);
            self.photoContent = "";
        });

        self.addClicked = function () {
            validateNewSighting();
            const utcDate = getUTCDate(self.seenDateTime());

            var picture = null;
            if (self.photoContent.length > 0) {
                picture = {
                    fileContent: self.photoContent
                };
            }
            const createObj = {
                make: self.make(),
                model: self.model(),
                registration: self.registration(),
                location: self.location(),
                seenDateTime: utcDate,
                picture: picture
            };
            sightingCreateModel.sendCreateSighting(createObj);
        }
   
        self.photoUpload = function (data, e) {

            var file = e.target.files[0];
            var reader = new FileReader();

            reader.onloadend = function (onloadend_e) {
                var result = reader.result; // Here is your base 64 encoded file. Do with it what you want.
                self.photoUrl(result);
                self.photoContent = result;
            };

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        function getUTCDate(dateStr) {
            const date = new Date(dateStr);
            return date.toISOString();
        }

        function validateNewSighting() {
            //TODO do validations
            console.log("todo do validations");
        }

        //TODO handle plane picture
        //TODO handle errors
        //TODO remove old values
    }

    ko.applyBindings(
        new SightingCreateViewModel(new SightingCreateModel()),
        document.getElementById("create-plane-sighting"));</script>